#package requirements for testing
requests>=2.33.0
iso3166-2>=1.8.2
iso3166-updates>=1.8.8
tqdm>=4.66.3
natsort
pandas
numpy
BeautifulSoup4
pycountry
dicttoxml
fake_useragent
emoji-country-flag
jsonschema
free-proxy
shapely
pytest>=9.0.3
pytest-cov 
bandit 
safety 
codecov
geopandas 
wikidata
python-dotenv